@using MrCMS.Helpers
@using X.PagedList.Mvc.Core
@using MrCMS.Web.Apps.DynamicWidget.Entities
@using X.PagedList
@model MrCMS.Web.Apps.DynamicWidget.Areas.Admin.Models.HtmlTemplateSearchModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var results = ViewData["items"] as IPagedList<HtmlTemplate> ?? PagingHelper.EmptyList<HtmlTemplate>();
}

<admin-header>
    <row>
        <admin-header-title title="Html Template"/>
        <admin-header-actions>
            <a asp-action="Add" asp-controller="HtmlTemplate" class="btn btn-primary" data-toggle="fb-modal">Add</a>
        </admin-header-actions>
    </row>
</admin-header>

<card>
    <card-body>
        <form method="get" asp-action="Index" asp-controller="HtmlTemplate" class="mb-3">
            <div class="row">
                <div class="col-sm-6">
                    <div class="input-group">
                        <input asp-for="Name" type="text" class="form-control" placeholder="Name"/>
                        <span asp-validation-for="Name"></span>
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        @if (results.Any())
        {
            <table class="table table-condensed table-striped mb-3">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th width="25">Actions</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var htmlTemplate in results)
                {
                    <tr>
                        <td>
                            @htmlTemplate.Name
                        </td>
                        <td>
                            <div class="btn-group">
                                @Html.ActionLink("Edit", "Edit", "HtmlTemplate", new { id = htmlTemplate.Id }, new { @class = "btn btn-sm btn-secondary" })
                                @Html.ActionLink("Delete", "Delete", "HtmlTemplate", new { id = htmlTemplate.Id }, new { @class = "btn btn-sm btn-danger", data_toggle = "fb-modal" })
                            </div>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            @Html.PagedListPager(results, page => Url.Action("Index", new { page, Model.Name }), MrCMSPagedListRenderOptions.Bootstrap4)
        }
        else
        {
            @:No Html Templates
        }
    </card-body>
</card>