@using MrCMS.Services.Resources
@using MrCMS.Web.Apps.DynamicWidget.Areas.Admin.Models.Content
@model UpdateDynamicContentBlockModel


@{ await Html.RenderPartialAsync("_DynamicWidgetDragHelper"); }

<div class="form-group mt-3">
    @Html.LabelFor(m => m.Text)
    @Html.TextAreaFor(m => m.Text, new { @class = "code-enabled" })
</div>