@using MrCMS.Web.Apps.DynamicWidget.Helper
@model MrCMS.Web.Apps.DynamicWidget.Areas.Admin.Models.Widgets.DynamicWidgetModel

<div class="form-group">
    @Html.LabelFor(widget => widget.Text)
    @Html.TextAreaFor(widget => widget.Text, new { @class = "code-enabled" })
</div>